.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

*.log

target/
build/

.idea/
*.iml
*.iws
nbproject/private/

.DS_Store
Thumbs.db
/negocios_solicitarBeca/nbproject/
/objetos_negocio/nbproject/

sistema_escolar/persistencia_becas/src/main/resources/mongo.properties
/sistema_escolar/persistencia_becas/src/main/resources/mongo.properties
sistema_escolar/persistencia_becas/src/main/resources/
/sistema_escolar/persistencia_becas/src/main/resources/
*.properties

