# Project Config
target/
build/
.DS_Store
Thumbs.db

# IDEA
.idea/
*.iml
*.iws

# NetBeans
/negocios_solicitarBeca/nbproject/
/objetos_negocio/nbproject/
nbproject/private/

# Credenciales Mongo
src/main/resources/mongo.properties
*.properties

# Historial
*.log

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
